In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# For inline plots
%matplotlib inline

In [2]:
# Load Data

df = pd.read_csv('../data/phivolcs_earthquake_data.csv')
df.head()

,Date_Time_PH,Latitude,Longitude,Depth_In_Km,Magnitude,Location
0,2016-01-01 00:40:00,17.34,120.30,023,3.0,015 km N 87° W of San Esteban (Ilocos Sur)
1,2016-01-01 05:06:00,14.65,123.12,017,3.3,054 km N 42° E of Paracale (Camarines Norte)
2,2016-01-01 13:24:00,09.76,125.46,012,2.4,005 km S 42° W of Surigao City
3,2016-01-01 15:01:00,17.30,120.27,026,2.9,018 km S 81° W of San Esteban (Ilocos Sur)
4,2016-01-01 20:27:00,08.89,126.28,024,3.0,004 km S 44° W of Cagwait (Surigao del Sur)

In [3]:
# Data Checks
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95564 entries, 0 to 95563
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date_Time_PH  95564 non-null  object
 1   Latitude      95564 non-null  object
 2   Longitude     95564 non-null  object
 3   Depth_In_Km   95563 non-null  object
 4   Magnitude     95564 non-null  float64
 5   Location      95564 non-null  object
dtypes: float64(1), object(5)
memory usage: 4.4+ MB

          Magnitude
count  95564.000000
mean       2.546805
std        0.696405
min        1.000000
25%        2.100000
50%        2.400000
75%        2.900000
max        7.500000

In [2]:
import sys
sys.path.append('../src')

from data_processing import load_data, clean_data

df = load_data('../data/phivolcs_earthquake_data.csv')
df = clean_data(df)
df.head()

,Date_Time_PH,Latitude,Longitude,Depth_In_Km,Magnitude,Location,Date_Time
0,2016-01-01 00:40:00,17.34,120.30,023,3.0,015 km N 87° W of San Esteban (Ilocos Sur),2016-01-01 00:40:00
1,2016-01-01 05:06:00,14.65,123.12,017,3.3,054 km N 42° E of Paracale (Camarines Norte),2016-01-01 05:06:00
2,2016-01-01 13:24:00,09.76,125.46,012,2.4,005 km S 42° W of Surigao City,2016-01-01 13:24:00
3,2016-01-01 15:01:00,17.30,120.27,026,2.9,018 km S 81° W of San Esteban (Ilocos Sur),2016-01-01 15:01:00
4,2016-01-01 20:27:00,08.89,126.28,024,3.0,004 km S 44° W of Cagwait (Surigao del Sur),2016-01-01 20:27:00